<div class="row">
    <input type="text" placeholder="First Number">
    <select name="" id="">
        <option>+</option>
        <option>-</option>
        <option>*</option>
    </select>
    <input type="text" placeholder="Second Number">
</div>
<div class="row">
    <button>Calculate</button>
</div>
<div class="row">
    <input type="text" placeholder="Ans" readonly>
</div>
