<div class="row">
    <Input @type="text"
        @value={{this.first}}
        @placeholder="First Number"
        @class="dum-first"/>
    {{#x-select
        class="dum-ops"
        value=ops
        on-change=(action "onOpsChange") as |xs|}}
        {{#xs.option value="+"}}+{{/xs.option}}
        {{#xs.option value="-"}}-{{/xs.option}}
        {{#xs.option value="*"}}*{{/xs.option}}
    {{/x-select}}
    <Input @type="text"
        @value={{this.second}}
        @placeholder="Second Number"
        @class="dum-second"/>
</div>
<div class="row">
    <button {{action "onCalculate"}} class="dum-calc-btn">Calculate</button>
</div>
<div class="row">
    <input type="text"
        value={{ans}}
        class="dum-ans"
        placeholder="Ans"
        readonly>
</div>
