<div class="row">
    <Input @type="text"
        @value={{this.first}}
        @placeholder="First Number"
        @class="dum-first"/>
    <XSelect @class="dum-ops" @value={{@ops}} as |xs|>
        <xs.option @value="+" >+</xs.option>
        <xs.option @value="-">-</xs.option>
        <xs.option @value="*">*</xs.option>
    </XSelect>
    <Input @type="text"
        @value={{this.second}}
        @placeholder="Second Number"
        @class="dum-second"/>
</div>
<div class="row">
    <button {{action "onCalculate"}} class="dum-calc-btn">Calculate</button>
</div>
<div class="row">
    <input type="text" class="dum-ans" placeholder="Ans" readonly>
</div>
